from pyDatalog import pyDatalog 

pyDatalog.create_terms('instance', 'instance_id', 'no_condition')

# Add all Attributes as variables:

{% for subsystem in subsystems %}
# Subsystem: {{subsystem.name.subsys_name}}

{% for class in subsystem.classes %}
# Class: {{code_name(class.name)}}
{% macro a_num(_calss=class)%}
A{{ _calss.cnum }}_
{%- endmacro %}
{% macro var_attr_as_text()%}
{% for attribute in class.attributes %}
'{{ a_num() }}{{ code_name(attribute.name) }}'{{ ",\n" if not loop.last }}
{%- endfor %} 
{%- endmacro %}
pyDatalog.create_terms({{ var_attr_as_text()|indent(23)}})
{% endfor %}
{% endfor %}

+no_condition() #Adding no_condition as a valid 'True' awser..

{% for subsystem in subsystems %}
# Subsystem: {{subsystem.name.subsys_name}}

{% for class in subsystem.classes %}
{% macro a_num(_calss=class)%}
A{{ _calss.cnum }}_
{%- endmacro %}
{% macro var_attr_as_text()%}
{% for attribute in class.attributes %}
'{{ a_num() }}{{ code_name(attribute.name) }}'{{ ",\n" if not loop.last }}
{%- endfor %} 
{%- endmacro %}
{% macro attr_table()%}
{% for attribute in class.attributes %}
'{{ attribute.name }}' : {{ a_num() }}{{ code_name(attribute.name) }}{{ ",\n" if not loop.last }}
{%- endfor %} 
{%- endmacro %}
{% macro ref_table_map(data)%}
{% for source_attribute in data.ref_attributes %}
{% set ref_attribute = data.ref_map[source_attribute] %}
{% set formalizing_class = data.formalizing_class %}
{% set source_attribute_var = a_num() + code_name(source_attribute) %}
{% set ref_attribute_var = a_num(formalizing_class) + code_name(ref_attribute) %}
('{{ source_attribute_var }}', {{ ref_attribute_var }}){{ ",\n" if not loop.last else "," if data.ref_attributes|length == 1 }}
{%- endfor %}
{%- endmacro %}
{% macro ref_table(rnum)%}
{% set table_data = referential(class).inclusion[rnum] %}
{% set has_variants = table_data.has_variants %}
{% if has_variants %}
{% set key_list = table_data.variant_keys %}
{% set variant = table_data.variant %}
{{"{"}}{% for key in table_data.variant_keys %}
{{ " " if not loop.first }}'{{ key }}' :
 ({{ ref_table_map(table_data.variant[key])|indent(2) }}){{ ",\n" if not loop.last }}
{%- endfor %}}
{%- else %}
({{ ref_table_map(referential(class).inclusion[rnum].data)|indent(1) }})
{%- endif %}
{%- endmacro %}
{% macro instance()%}
instance('{{ domain }}',
         '{{ class.name }}',
{% for attribute in class.attributes %}
          {{ a_num() }}{{ code_name(attribute.name)}}{{ ")" if loop.last else ",\n" }}
{%- endfor %}
{%- endmacro %}
{% macro dummy_instance()%}
instance('{{ domain }}',
         '{{ class.name }}',
{% for attribute in class.attributes %}
          ''{{ ")" if loop.last else ",\n" }}
{%- endfor %}
{%- endmacro %}
{% macro instance_id(at_id)%}
instance_id('{{ domain }}',
            '{{ class.name }}',
            '{{ at_id }}',
{% for attribute in id(class).inclusion[at_id] %}
             {{ a_num() }}{{ code_name(attribute)}}{{ ")" if loop.last else ",\n"}}
{%- endfor %}
{%- endmacro %}
{% macro id2num(at_id)%}
{{{'I': '1', 'I2' : '2', 'I3' : '3'}[at_id]}}
{%- endmacro %}
{% macro id_exists()%}
{% for at_id in id(class).defined %}
{{ code_name(class.name) }}.id{{ id2num(at_id) }}_exists(constraint){{ "\n& " if not loop.last}}
{%- endfor %}
{%- endmacro %}
class {{ code_name(class.name) }}:
    # rules for {{class.name}}...

    {% for at_id in id(class).defined %}
    # rule for id: {{at_id}}
    ({{ instance_id(at_id)|indent(5) }}
         <=
     {{ instance()|indent(5) }})

    {% endfor %}

    attr_table = {{'{'}}{{ attr_table()|indent(18) }}}

    {% for rnum in referential(class).defined %}
    {{ rnum }}_ref_table = {{ ref_table(rnum)|indent(20) }}

    {% endfor %}
    # Somehow datalog needs some exeriance before it works =( 
    dummy = ({{ dummy_instance()|indent(13) }})
    +dummy
    -dummy

    @classmethod    
    def query(cls, input):
        result = no_condition()
        for key, value in input.items():
            result &= (cls.attr_table[key] == value)
        return result

    {% for rnum in referential(class).defined %}
    @classmethod
    {% set has_variants = referential(class).inclusion[rnum].has_variants %}
    def {{ rnum }}(cls, {{ "key, " if has_variants}}constraint):
        input = constraint._variables()
        result = no_condition()
        for attr_source, attr_ref in cls.{{ rnum }}_ref_table{{ "[key]" if has_variants}}:
            value = input[attr_source]
            if len(value) != 1:
                raise ManaException()
            result &= (attr_ref == value.data[0])
        return result

    {% endfor %}
    @staticmethod
    def new(constraint):
    
        if {{ code_name(class.name) }}.id_exists(constraint):
            raise ManaException()

        head = {{ instance()|indent(15) }}
        (head <= constraint)

        if not {{ code_name(class.name) }}.id_exists(constraint):
            raise ManaException()

        return (head & constraint)
      
    {% for at_id in id(class).defined %}
    @staticmethod
    def id{{ id2num(at_id) }}_exists(constraint):
        head = {{ instance_id(at_id)|indent(15) }}
        head_var = set(head._variables().keys())
        constraint_var = set(constraint._variables().keys())
        if not head_var.issubset(constraint_var):
            raise ManaException()
        number_of_answers = _len(head & constraint)
        if number_of_answers > 1:
            raise ManaException()
        return (number_of_answers == 1)

    {% endfor %}
    @staticmethod
    def id_exists(constraint):
        return ({{ id_exists()|indent(14) }})

{% endfor %}
{% endfor %}